.imageCategory {
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    transition: transform .2s;
    display: block;
}

.row:hover .imageCategory {
    opacity: 0.5;
}

.imageCategory:hover {
    opacity: 1 !important;
    transform: scale(1.05);
    cursor: pointer;
}

.imagePlants {
    height: 70%;
    background-image: url('../../assets/plants.jpg');
}

.imageGround {
    height: 30%;
    background-image: url('../../assets/ground.jpg');
}

.imagePots {
    height: 100%;
    background-image: url('../../assets/pots.jpg');
}

.textCategory {
    color: white;
    font-size: 48px;
    padding: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    align-items: end;
    justify-content: end;
}

@media only screen and (max-width: 992px) {
    .textCategory {
        font-size: 36px;
    }

    .imageCategory {
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        height: 200px;
    }

    .imagePots {
        background-image: url('../../assets/pots.jpg');
        margin-top: 16px;
    }
}