.nav-container {
    background-color: red;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    padding: 0;
    justify-content: space-between !important;
    background: white !important;
}

.navbar-brand {
    color: #6c8d66 !important;
    text-transform: uppercase;
    font-weight: 800;
    height: auto;
    padding: 0;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

