
* {
    font-size: 24px;
}

.sectionContainer {
    /*min-height: 100vh;*/
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: gray;*/
}

.primary-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
}

.secondary-title {
    font-size: 32px;
    font-weight: 600;
}


.centered-text {
    text-align: center;
}

/*.fill {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    overflow: hidden;*/
/*    background-color: cornflowerblue;*/
/*    height: 100%;*/
/*}*/

/*.fill img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    border-radius: 16px;*/
/*    flex-shrink: 0;*/
/*}*/
