* {
    font-size: 24px;
}

.sectionContainer {
    /*min-height: 100vh;*/
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
}

.secondary-title {
    font-size: 32px;
    font-weight: 600;
}

.centered-text {
    text-align: center;
}

/* LOGIN AND REGISTER */
.auth-container {
    background: #E7E7E7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background: white;
    padding: 16px;
    border-radius: 16px;
    margin: 16px;
    width: 600px;
}

.form-title {
    text-align: center;
}

.register-link-text {
    margin-top: 32px;
    color: gray;
    font-weight: 300;
}

.register-link {
    text-decoration: none;
    color: #595959;
    font-weight: 400;
}

.register-link:hover {
    color: #6C8D66;
}

.errmsg {
    /*background: red;*/
    color: red;
}

/*PRODUCTS*/
.productsContainer {
    background: red;
    display: flex;
    height: calc(100vh - 87px);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.filterMenu {
    background: yellow;
    width: 250px;
}

.searchFilterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
    /*height: auto;*/
    background: darksalmon;
    /*padding: 0;*/
    /*padding-right: 16px;*/
    position: relative;
}

.filterButton {
    display: none;
    background: white;
    color: gray;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid #000;
}


.filterMenuSmall{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    /*width: 100%;*/
    background: rebeccapurple;
}

.searchContainer {
    width: 100%;
    background-color: gold;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 95%;
    border: 2px solid #000;
    border-radius: 2em;
    overflow: hidden;
    font-size: 1rem;
    display: flex;
    flex-flow: row nowrap;

}

.searchButton {
    border: none;
    outline: none;
    width: 15%;
    font-size: 0.5rem;
    padding-right: 0.5em;
    color: gray;
    display: grid;
    place-content: center;
    background-color: #fff;
}

.searchInput {
    padding: 0.5em 0.5em 0.5em 1em;
    width: 85%;
    background-color: #fff;
    border: none;
    outline: none;
}

.products {
    background: green;
    height: 100% !important;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 768px){
    .filterMenu {
        display: none;
    }

    .filterButton {
        display: block;
    }

    .searchFilterContainer {
        padding-right: 16px;
    }
}