* {
    font-size: 24px;
}

.sectionContainer {
    /*min-height: 100vh;*/
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
}

.secondary-title {
    font-size: 32px;
    font-weight: 600;
}

.centered-text {
    text-align: center;
}

/* LOGIN AND REGISTER */
.auth-container {
    background: #E7E7E7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background: white;
    padding: 16px;
    border-radius: 16px;
    margin: 16px;
    width: 600px;
}

.form-title {
    text-align: center;
}

.register-link-text {
    margin-top: 32px;
    color: gray;
    font-weight: 300;
}

.register-link {
    text-decoration: none;
    color: #595959;
    font-weight: 400;
}

.register-link:hover {
    color: #6C8D66;
}